<h1 class="text-center">Available Cabs</h1>
<div class="container">
    {{!-- <a href="/create" class="btn btn-primary">+ New Movie</a> --}}
    <table class="table table-striped mt-4">
        {{#if data.role}}
        <a href="addNewCab">
            <button class="btn btn-success">Add cab</button>

        </a>
        {{/if}}
        <tr>
            <th>Cab name</th>
            <th>Description</th>
            <th>Capacity</th>


        </tr>
        {{#if data.role}}
        {{#each cabDetails}}
        <tr>
            <td>{{this.dataValues.cab_name}}</td>
            <td>{{this.dataValues.cab_description}}</td>
            <td>{{this.dataValues.cab_total_capacity}}</td>
            <td>
                <a href="editcabdetails/{{this.dataValues.cab_no}}">Edit</a>🚗
                <a href="deletecabdetails/{{this.dataValues.cab_no}}" onclick="return confirm('Are you sure to delete this? ')">Delete</a>
            </td>

            {{!-- <td>{{data.}}</td> --}}
            {{!-- <td>{{this.mobile}}</td>
            <td>{{this.dataValues.dob}}</td> --}}
            {{!-- <td>
                <a href="/update/{{this.dataValues.id}}">Edit</a> |
                <a href="/delete/{{this.dataValues.id}}" class="text-danger"
                    onclick="return confirm('Are you sure you want to delete this')">Delete</a>
            </td> --}}
        </tr>

        {{/each}}
        {{else}}
        {{#each cabDetails}}
        <tr>
            <td>{{this.dataValues.cab_name}}</td>
            <td>{{this.dataValues.cab_description}}</td>
            <td>{{this.dataValues.cab_total_capacity}}</td>
            <td>
                <a href="cabDetails/{{this.dataValues.cab_no}}">Book now</a>
            </td>

            {{!-- <td>{{data.}}</td> --}}
            {{!-- <td>{{this.mobile}}</td>
            <td>{{this.dataValues.dob}}</td> --}}
            {{!-- <td>
                <a href="/update/{{this.dataValues.id}}">Edit</a> |
                <a href="/delete/{{this.dataValues.id}}" class="text-danger"
                    onclick="return confirm('Are you sure you want to delete this')">Delete</a>
            </td> --}}
        </tr>

        {{/each}}
        

        {{/if}}
        
       

    </table>
    <p class="text-end">You are logged in as:
        <b>{{data.firstName}} {{data.lastName}}</b>
    </p>
</div>