

<div class="container">

    <br>

    <br>    
    
    <table class="table table-sm-6 table-dark">
        
        <tr>

            <th>Passenger Name</th>

            <td>{{passengername}}</td>

        </tr>

        <tr>

            <th>Date</th>

            <td>{{invoice.dataValues.date_of_booking}}</td>

        </tr>

        <tr>

            <th>Time</th>

            <td>{{invoice.dataValues.booking_time}}</td>

        </tr>

        <tr>

            <th>Pick up location</th>

            <td>{{invoice.dataValues.cab_from}}</td>

        </tr>

        <tr>

            <th>Drop location</th>

            <td>{{invoice.dataValues.cab_to}}</td>

        </tr>

        <tr>

            <th>Cost</th>

            <td>{{cost}}</td>

        </tr>
       

    </table>
   

    <button class="btn btn-success " id="btnprinthide" onclick=printpdf()>Print pdf</button>

</div>

<script>
    const btn = document.getElementById('btnprinthide')
   function printpdf(){
    
  
  btn.style.display = 'none';
  return window.print()

  
  


   }
    
</script>